 /* Style the navigation menu */
.topnav {
  margin: 10px;
  border: 5px solid;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

.topnav #Home {
    text-align: center;
    padding: 6px 10px 10px 10px;
    margin: 0;
    font-size: var(--MFontSize);
}

.topnav #Rose {
    position: absolute;
    left: 0;
    padding: 10px 0 0 10px;
    width: 75px;
}

/* Style navigation menu links */
.topnav a {
  color: var(--main-color);
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  margin: 0;
}
.topnav details {
    border: 3px solid;
    font-size: 35px;
    padding: 14px 16px;
    margin: 5px;
}

.topnav details summary i {
    align-items: center;
    transition: all 0.3s;
    margin-right: 10px;
    margin-left: auto;
}
.topnav details[open] summary i {
    transform: rotate(180deg);
}

/* Style the hamburger menu */
.topnav a.icon {
  font-size: calc(var(--MFontSize)+15px);
  border: 0;
  border-left: 3px;
  border-bottom: 3px;
  border-style: solid;
  border-radius: 0 0 0 10px;

  display: block;
  padding: 15px;
  padding-bottom: 2px;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a.icon {
  padding-bottom: 0px;
}

#Coding {
    margin-top: 3%;
}