*{
  font-family: 'Courier New', Courier, monospace;
}

body {
  margin: 0;
  --active-bg-color: lightgray;
  --main-bg-color: white;
  --main-color: black;
  --link-color: blue;
  --alt-color: #f9f9f9;
  --op-color: lightgray;
  --hover-bg-color: gray;
  --linksvg: invert(7%) sepia(100%) saturate(7364%) hue-rotate(248deg) brightness(109%) contrast(144%);
  background-color: white;
  color: black;
}

body.dark-theme{
  --active-bg-color: #555;
  --main-bg-color: #333;
  --main-color: white;
  --link-color: rgb(255, 0, 0);
  --alt-color: rgb(55, 55, 55);
  --op-color: black;
  --hover-bg-color: gray;
  --linksvg: invert(22%) sepia(100%) saturate(7449%) hue-rotate(355deg) brightness(87%) contrast(136%);
  background-color: #333;
  color: white;
}

.dark-theme .sun {
  opacity: 0%;
}
.dark-theme .moon {
  opacity: 100%;
}


a {
  color: var(--link-color);
}

#AboutPic {
  width: 15%;
  padding: 10px;
  float: left;
  border: 2px solid var(--main-color);
  margin: 5px;
}

.mobile #AboutPic {
  width: 20%;
}

.AccountButtons {
  display: block;
  border: 2px;
  border-style: solid;
  padding: 10px;
}

.content {
  border: 2px solid;
  border-color: var(--main-color);
}

.content li, .content a{
  padding: 0px;
  margin: 0px;
}

.content a{
  padding: 10px;
}

.content a:hover{
  background-color: gray;
}

.grid {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(3, 1fr);
}

.mobile a, .mobile p{
  padding: 10px;
  font-size: 25px;
}

hr {
  color: var(--main-color);
}

.Linksvg{
  filter: var(--linksvg);
}

/* Arrow */

.arrow {
  transition-duration: 0.5s;
  margin: 1%;
  border: solid var(--main-color);
  border-width: 0 2px 2px 0;
  display: block;
  padding: 2px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}