*{
  font-family: 'Courier New', Courier, monospace;
}

body {
  margin:0;
  --main-bg-color: white;
  --main-color: black;
  --link-color: purple;
  --alt-color: #f9f9f9;
  background-color: white;
  color: black;
}

.dark-mode body{
  --main-bg-color: #333;
  --main-color: white;
  --link-color: aqua;
  --alt-color: rgb(55, 55, 55);
  background-color: #333;
  color: white;
}

.AccountButtons {
  display: block;
  border: 2px;
  border-style: solid;
  padding: 10px;
}

.content li{
  border: 2px;
  border-style: solid;
  padding: 5px;
}

li:hover{
  background-color: gray;
}

.grid {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(3, 1fr);
}

div > div {
  padding: 10px;
  margin: 10px;
}