body {
    margin:0;
    font-family: 'space mono', monospace;
    --PFontSize:25px;
    --H1FontSize:45px;
    --H2FontSize:40px;
    --H3FontSize:30px;
    --MPFontSize:35px;
    --MH1FontSize:55px;
    --MH2FontSize:45px;
    --hover-color: #ee8695;
    /* Theme colours */
    --main-color: #fbbbad;
    --main-bg-color: #292831;
    --alt-bg-color: #333;
    --link-color: lightblue;
    --shadow: #fbbbad;
    background-color: #292831;
    color: #fbbbad;
}
/* End of global theming */

/* Global objects */

/* Rounded border */
hr.Seperator {
    border-top: 3px solid var(--main-color);
    border-radius: 2%;
    width: 75%;
}

p {
    font-size: var(--PFontSize);
}
h1 {
    font-size: var(--H1FontSize);
}
h2 {
    font-size: var(--H2FontSize);
}
h3 {
    font-size: var(--H3FontSize);
}

/* Grid */

.grid {
    text-align: center;
    margin: 15px;
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, 1fr);
}
.grid a {
    text-decoration: none;
    cursor: pointer;
}
.grid img {
    width: 50%;
    border-radius: 15px;
    box-sizing: border-box;
}
.grid i {
    font-size: var(--PFontSize);
}
.art img {
    width: 100%;
}
.grid a p b {
    padding: 20px;
}

/* Content */
.content {
    margin: 10px;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    border: 2px solid;
    border-color: var(--main-color);
}
.content p, .content h1, .content h2, .content h3, .content h4, .content h5{
    padding: 15px;
    margin: 15px;
}

.content li{
    padding: 0px;
    margin: 0px;
}

button {
    height: 50px;
    width: 100px;
    background-color: var(--main-bg-color);
    color: var(--main-color);

}
.content a, .content div .a{
    color: var(--main-color);
    margin: 10px;
    padding: 10px;
    border: 2px solid;
    border-radius: 10px;
    transition: all .1s ease-out;
}

.content a:hover, .content div.a:hover{
    background-color: var(--hover-color);
    transform: translate(-.5rem ,-.5rem);
    box-shadow: .5rem .5rem 0 var(--shadow);
}
.content a.mails{
    transform: none;
    box-shadow: none;
}

.imgContainer {
    border: 2px solid;
    display:relative;
}
/* End of content */

/* End of global objects */
#Discord {
    cursor: auto;
}
#Discord:hover, #Mail:hover {
    background-color: var(--main-bg-color);
}
#Mail i {
    font-size: 200px;
}
#AboutPic {
  border-radius: 25px;
  padding: 0;
  margin: 0;
}

#AboutPicContainer {
    border: 2px solid var(--main-color);
    float: right;
    margin: 10px;
    padding: 10px;
}

#AboutPicContainer:hover {
    transform: translate(-.5rem ,-.5rem);
    box-shadow: .5rem .5rem 0 var(--shadow);
}

/* Mobile */
.mobile body {
    margin-bottom: 200px;
}
.mobile #AboutPicContainer{
    margin: 0;
    padding: 0;
}

.mobile #AboutPic {
    width: 100%;
    height: 45%;
}
.mobile a, .mobile p{
  padding: 5px;
  font-size: var(--MPFontSize);
}
.mobile h1, .mobile h2{
  padding: 2px;
  font-size: 350%;
}
.mobile h3, .mobile h4, .mobile h5{
    padding: 2px;
    font-size: 250%;
}

.mobile a, .mobile p {
    font-size: var(--PFontSize);
}
.mobile h1 {
    font-size: var(--H1FontSize);
}
.mobile h2 {
    font-size: var(--H2FontSize);
}
.mobile h3 {
    font-size: var(--H3FontSize);
}

.mobile .content, .mobile .content a, .mobile .content div.a{
  text-decoration: none;
  border: 5px solid;
}

.mobile .grid {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 25%;
}
/* End of mobile */
details {
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
    user-select: none;
    transition: all .1s ease-out;
}

details[open]:hover {
    transform: none;
    box-shadow: none;
}

details:hover {
    transform: translate(-.5rem ,-.5rem);
    box-shadow: .5rem .5rem 0 var(--shadow);
}

details>summary i.icon {
    align-items: center;
    font-size: calc(var(--PFontSize) * 3.5);
    transition: all 0.3s;
    margin-right: 10px;
    margin-left: auto;
}

details[open] summary i.icon {
    transform: rotate(180deg);
}

summary {
    display: flex;
    cursor: pointer;
}

summary::-webkit-details-marker {
    display: none;
}

.CVGrid {
    position: absolute;
    right: 0px;
    width: 68%;
    height: 25%;
}
.mobile .CVGrid {
    position: relative;
    width: 100%;
}

.CVInternalGrid {
    text-align: left;
}
.CVInternalGrid h1,.CVInternalGrid h2,.CVInternalGrid h3,.CVInternalGrid p {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.CVInternalGrid hr.Seperator {
    width: 97%;
}

.CVCodeGrid {
    text-align: center;
    margin: 15px;
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(5, 1fr);
}
.CVCodeGrid a {
    text-decoration: none;
    cursor: pointer;
}
.CVCodeGrid img {
    width: 50%;
    border-radius: 15px;
    box-sizing: border-box;
}

.CVSideBar {
    position: absolute;
    left: 0px;
    border: 2px solid;
    border-color: var(--main-color);
}
.mobile .CVSideBar {
    position: relative;
}

.CVSideBar a {
    text-decoration: none;
    cursor: pointer;
}

.CVSideBar h1,.CVSideBar h2,.CVSideBar h3,.CVSideBar p {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#CVPic {
    border-radius: 25px;
    padding: 0;
    margin: 0;
}
  
#CVPicContainer {
    border: 2px solid var(--main-color);
    float: left;
    margin: 10px;
    padding: 10px;
}
  
#CVPicContainer:hover {
    transform: translate(-.5rem ,-.5rem);
    box-shadow: .5rem .5rem 0 var(--shadow);
}

/*Language changing*/
.Lang-DA .en {
    display: none;
}
.Lang-EN .da {
    display: none;
}
