@import 'tailwindcss';

/* stolen from https://github.com/eevee/eev.ee*/
body {
    --screen-width: 100vw;
    --screen-scale: calc(tan(atan2(var(--screen-width), 1000px)));
    --flex-scale: calc((var(--screen-scale) - 0.6) / 0.4);
    --body-width: max(min(100vw, 700px), 320px);
    font-family: InterVariable;
}

.inset-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@theme {
    --font-display: InterVariable;

    /* Yes we're naming based on the catppuccin standard... I ENJOY IT SUE ME */
    --color-base-bg: #303446;
    --color-base: #c6d0f5;
    --color-mantle-bg: #292c3c;
    --color-mantle: #b5bfe2;
    --color-crust-bg: #232634;
    --color-crust: #a5adce;
    --color-surface-bg: #414559;
    --color-surface: #a5adce;
}
