@import 'tailwindcss';

/* stolen from https://github.com/eevee/eev.ee*/
html, body {
    font-family: InterVariable;
    height: 100%;
}

.inset-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@theme {
    --font-display: InterVariable;

    --color-hover: #ab6c84;
    --color-focus: #613854;
    --color-bg: #292b30;
    --color-text: #ffc4d1;
}
